@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}

html,
body {
  background: transparent;
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
}

.cm-editor,
.cm-editor * {
  user-select: text;
  -webkit-user-select: text;
}

/* Hide scrollbar in teleprompter */
.teleprompter-scroll::-webkit-scrollbar {
  display: none;
}
